/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

/*
Restore some Infima style that broke with CSS Cascade Layers
See https://github.com/facebook/docusaurus/pull/11142
 */
:global(.navbar__items--right) > :last-child {
  padding-right: 0;
}


.navBarWrap {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  /* background-color: white;  */
  /* border: 1px solid #ccc; */  /*<--uncommenting will give a border*/
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.navBarWrap:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
